*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background: rgb(26, 29, 32);
  color: rgb(193, 164, 140);
}

body, html {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.accent-text, h1, h2 {
  color: rgb(165, 189, 142);
  font-style: italic;
}

h1 {
  letter-spacing: -1.5px;
  font-size: 2.5rem;
}

h2 {
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

p {
  letter-spacing: 0.5px; 
  line-height: 1.5rem;
}

a {
  color: rgb(127, 156, 180);
}

a.active {
  text-decoration: none;
}

header {
  padding-top: 1rem;
}

nav {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgb(188, 194, 199);
}

.headshot {
  width: 10rem;
  aspect-ratio: 1/1;
  margin: 0.75rem 0;
  border-radius: 100%;
}

.contact-info {
  margin-top: 1rem;
}

footer {
  margin-top: 8rem;
  padding-top: 0.75rem;
  border-top: 1px solid rgb(188, 194, 199);
}
